body{
    background-image: url(logo-no-background.png);
   background-color: rgb(0, 0, 0);
   background-attachment: fixed;
   background-position: center;
}
form{
   
    height:550px;
    width: 430px;
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 10px;
    backdrop-filter: blur(3px);
    border: 3px solid rgba(255, 255, 255, 0.2);
    padding: 1px 35px;
}

h1{
    color: white;

}
b{
    font-size: 30px;
    color: rgb(255, 255, 255) ;
    height: 50px;

}
td1{
    font-size: 30px;
    color: rgb(255, 255, 255);
    left: 10%;
}

input{height: 45px;
      width: 100%;
      font-size: 35px;
   background-color: rgba(255, 255, 255, 0.07);
   color: white;
}
button{height: 45px;
    width: 100%;
    font-size: 28px;
 background-color: rgba(255, 255, 255, 255);
 color: rgb(0, 0, 0);
border-radius: 20px;
font-weight: bold;
padding: 8px 0;
}
